body {
  font-family: 'Roboto', sans-serif;
  color: #222222;
}

.NavBar {
  background-color: #f6f6f7;
  margin: 15px auto;
  height: 30px;
  line-height: 30px;
}

.Content {
  margin: 20px;
}

.ProductImage {
  height: 600px;
}

.lightText {
  color: #888888;
  font-size: 0.8em;
}

.price {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #cccccc;
}

.Size {
  color: #222222;
}

.required {
  color: #c90000;
}

.sizeButton {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  color: #888888;
  padding: 10px 15px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 10px;
}

.sizeButton:focus {
  outline-style: solid;
  outline-color: #222222;
  outline-width: 2px;
  color: #222222;
}

.addToCartButton {
  background-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #222222;
  color: #222222;
  padding: 5px 25px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.addToCartButton:focus {
  outline-width: 0;
}

.addToCartButton:hover {
  background-color: #222222;
  color: white;
}
